@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --font-luxury: "Bodoni Moda", serif;
  --font-body: "Montserrat", sans-serif;
  --gold:#D8D365;
  --pinkish:#FFF1D3;
  --pink:#FFB090;
  --reddy:#FF3737;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.35);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.animate-pop {
  animation: pop 0.25s ease-in-out;
}

