@import "tailwindcss";
@plugin "tailwindcss-animate";

/* @theme {
  --font-josefin: "Josefin Sans", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-gothic: "Science Gothic", sans-serif;
} */
@theme {
  --font-luxury: "Bodoni Moda", serif;
  --font-body: "Montserrat", sans-serif;
  --gold:#D8D365;
  --pinkish:#FFF1D3;
  --pink:#FFB090;
  --reddy:#FF3737;
}

